/** {
	outline: 1px solid red;
}*/
:root {
  --bg-main: #2c2a28;
  --bg-component: #252925;

  --yellow: #f5dc61;
  --coral: #e0705c;

  --text-white: #ffffff;
  --text-gray: #cccccc;
  --text-dark: #171a17;

  --info-success: #6fb87f;

  --hover: rgba(255, 255, 255, 0.1);
  --border: rgba(255, 255, 255, 0.15);
  --box-shadow : box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --overlay-dark: rgba(0, 0, 0, 0.5);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

body {
	height: 100vh;
	max-inline-size: 1200px;
	margin:0 auto;
	padding-block: 24px;
	background-color: var(--bg-main);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
	padding: 16px 32px;
	margin-block-end: 24px;
	background-color: var(--bg-component);
}

.header__title {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--yellow);
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 8px;
	margin-block-start: 24px;
}

.modal {
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%,  -50%);
	inline-size: clamp(280px, 90vw, 400px);
	border: 0;
	border-radius: 8px;
	z-index: 9999;
	background-color: var(--bg-component);
}

.modal:focus {
	outline: none;
}

.modal::backdrop {
	background-color: var(--overlay-dark);
}

.form {
	display: grid;
	padding: 24px 48px;
}

.form__heading {
	font-size: 2rem;
	font-weight: 700;
	color: var(--yellow);
}

.form__label {
	font-weight: 500;
	letter-spacing: 0.15rem;
	color: var(--yellow);
}

.form__inputfield {
	padding: 8px 12px;
	margin-block: 8px 24px;
	color: var(--text-white);
	border-radius: 6px;
	border: 1px solid var(--yellow);
	background-color: var(--bg-main);
}

.form__buttons {
	display: flex;
	gap: 16px;
	justify-self: end;
}

.book {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

.book__card {
	position: relative;
	padding: 24px;
	background-color: var(--bg-component);
}

.book__title {
	color: var(--yellow);
	font-size: 1.5rem;
	font-weight: 500;
}

.book__author {
	color: var(--text-gray);
	font-style: italic;
	margin-block-end: 12px;
}

.book__pages {
	color: var(--text-white);
}

.book__actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.book__badge {
	position: absolute;
	bottom: 12px;
	display: flex;
	gap: 8px;
	font-style: italic;
	color: var(--info-success);
}

.button {
	display: flex;
	align-items: center;
	border-radius: 12px;
	font-weight: 500;
	padding: 8px;
}

.button:hover {
	color: var(--text-white);
	background-color: var(--hover);
}

.button__primary {
	background-color: var(--yellow);
}

.button__secondary {
	background-color: var(--coral);
}
