/** {
	outline: 1px solid red;
}*/
:root {
  --bg-main: #2c2a28;
  --bg-component: #252925;

  --yellow: #f5dc61;
  --coral: #e0705c;

  --text-white: #ffffff;
  --text-gray: #cccccc;
  --text-dark: #171a17;

  --hover: rgba(255, 255, 255, 0.1);
  --border: rgba(255, 255, 255, 0.15);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

body {
	height: 100vh;
	max-inline-size: 1200px;
	margin:0 auto;
	padding-block: 24px;
	background-color: var(--bg-main);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
	padding: 16px 32px;
	background-color: var(--bg-component);
}

.header__title {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--yellow);
}

button {
	display: flex;
	align-items: center;
	border-radius: 12px;
	font-weight: 500;
	padding: 8px;
}

.button__primary {
	background-color: var(--yellow);
}
